@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
* {
  font-family: Lato;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  letter-spacing: -0.03em;
}
@media (max-width: 768px) {
  h1 {
    padding-left: 90px;
  }
}

h2 {
  color: #666D89;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  line-height: 36px;
  padding-top: 59px;
  padding-left: 40px;
}
@media (max-width: 1020px) {
  h2 {
    padding-top: 39px;
  }
}
@media (max-width: 768px) {
  h2 {
    padding-left: 28px;
  }
}

h3 {
  color: #666D89;
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  line-height: 18px;
}

.item {
  width: 220px;
  height: 77px;
  vertical-align: middle;
}

.item-text {
  color: #767E9E;
  text-align: justify;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  padding-top: 9px;
}
@media (max-width: 1020px) {
  .item-text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 21px;
    padding-top: 8px;
  }
}

.wrapper {
  margin: auto;
  max-width: 1020px;
}

@media screen and (max-width: 1020px) {
  .wrapper {
    margin: auto;
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    margin: auto;
    max-width: 375px;
  }
}
.hamburger-line, .hamburger::after, .hamburger::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2.4px;
  background: #ffffff;
  border-radius: 5px;
}

.hamburger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger-line {
  top: calc(50% - 1.5px);
  left: 0;
}

.portfolio {
  background: #2D303A;
  box-shadow: 0 6px 0px #323746;
}
.portfolio-border {
  height: 6px;
}
.portfolio-text {
  color: #767E9E;
  padding: 18px 44px 13px 40px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: #767E9E;
  text-align: justify;
  word-spacing: -1px;
}
@media (max-width: 768px) {
  .portfolio-text {
    padding: 18px 30px 13px 30px;
  }
}

.portfolio-wrapper {
  padding-top: 0;
}
@media (max-width: 1020px) {
  .portfolio-wrapper {
    padding-top: 19px;
  }
}

.nav-portfolio {
  max-width: 290px;
  padding-left: 40px;
  list-style: none;
  display: flex;
  text-align: right;
  justify-content: space-between;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
}
@media (max-width: 768px) {
  .nav-portfolio {
    padding-left: 30px;
  }
}
@media (max-width: 375px) {
  .nav-portfolio {
    justify-content: center;
    max-width: 177px;
    padding-left: 0;
    margin: auto;
  }
}

.nav-portfolio li {
  color: #767E9E;
  border: 1px solid;
  border-radius: 5px;
  padding: 4px;
}

.nav-portfolio li:hover {
  color: #ffffff;
  cursor: pointer;
}

.image-list ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-content: space-between;
}

.image {
  width: 215px;
  margin: 10px;
}
.image-list {
  margin: 0px auto;
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style: none;
  padding-bottom: 68px;
  padding-top: 18px;
}
.image-list img {
  margin: auto;
  width: 100%;
}
@media (max-width: 1020px) {
  .image-list img {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .image-list {
    padding: 26px 40px 66px 40px;
    max-width: 68vw;
  }
}
@media (max-width: 768px) {
  .image-list {
    padding: 26px 20px 66px 20px;
    max-height: 495px;
    overflow: hidden;
    max-width: 320px;
  }
}
@media (max-width: 375px) {
  .image-list {
    justify-content: center;
  }
}
@media (max-width: 1020px) {
  .image {
    width: 21vw;
    padding: 6px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .image {
    width: 46%;
    padding: 6px;
  }
}
@media (max-width: 375px) {
  .image {
    width: 33vw;
    padding: 6px;
  }
}

.image.item1 {
  background: url(./assets/img/portfolio-1.png);
}

.image.item2 {
  background: url(./assets/img/portfolio-2.png);
}

.image.item3 {
  background: url(./assets/img/portfolio-3.png);
}

.image.item4 {
  background: url(./assets/img/portfolio-4.png);
}

.image.item5 {
  background: url(./assets/img/portfolio-5.png);
}

.image.item6 {
  background: url(./assets/img/portfolio-6.png);
}

.image.item7 {
  background: url(./assets/img/portfolio-7.png);
}

.image.item8 {
  background: url(./assets/img/portfolio-8.png);
}

.image.item9 {
  background: url(./assets/img/portfolio-9.png);
}

.image.item10 {
  background: url(./assets/img/portfolio-10.png);
}

.image.item11 {
  background: url(./assets/img/portfolio-11.png);
}

.image.item12 {
  background: url(./assets/img/portfolio-12.png);
}

.header {
  background: #2D303A;
  box-shadow: 0 6px 1px #47474e;
  padding: 29px 0px 30px 0px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header-navigation {
    display: none;
  }
}

.wrapper-boder {
  height: 6px;
}

.navigation {
  text-align: right;
  letter-spacing: -0.035em;
  padding-top: 12px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
}
.navigation-link {
  padding: 0 34px 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.navigation-link-colored {
  color: #F06C64;
  text-decoration: underline;
}

ul li:first-child {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logotype {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .logotype {
    padding-left: 20px;
  }
}

a:hover {
  color: #f06c64;
  text-decoration: underline;
  transition: all 0.3s;
}

span {
  color: #F06C64;
}

.slider {
  padding: 55px 0;
  background: #F06C64;
  box-shadow: 0 6px 1px #dd8386;
}
@media (max-width: 1020px) {
  .slider {
    padding: 39px 0;
  }
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-boder {
  height: 6px;
}

.slider-content {
  margin: 0 auto;
  background: url(./assets/img/slider-content.png) no-repeat;
  height: 483px;
  width: 796px;
}
@media (max-width: 1020px) {
  .slider-content {
    background: url(./assets/img/slider-content768.png) no-repeat;
    height: 364px;
    width: 600px;
  }
}
@media (max-width: 768px) {
  .slider-content {
    background: url(./assets/img/slider-content375.png) no-repeat;
    height: 178px;
    width: 293px;
  }
}

.arrow-left {
  margin: 0 auto;
  width: 16px;
  height: 27px;
  background-image: url(./assets/img/arrow-left.png);
}
.arrow-left:hover {
  background-image: url(./assets/img/arrow-left-hover.png);
  cursor: pointer;
}

.arrow-right {
  margin: 0 auto;
  width: 16px;
  height: 27px;
  background-image: url(./assets/img/arrow-right.png);
}
.arrow-right:hover {
  background-image: url(./assets/img/arrow-right-hover.png);
  cursor: pointer;
}

.services {
  background: #f2f2f2;
  box-shadow: 0 6px 1px #ffffff;
}

.services-boder {
  height: 6px;
}

.services-text {
  padding: 18px 44px 49px 40px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: #767E9E;
  text-align: justify;
  word-spacing: -2px;
}
@media (max-width: 1020px) {
  .services-text {
    padding: 18px 44px 38px 40px;
  }
}
@media (max-width: 768px) {
  .services-text {
    padding: 18px 30px 38px 30px;
  }
}

.services-list {
  padding-bottom: 44px;
}
@media (max-width: 1020px) {
  .services-list {
    padding-bottom: 29px;
  }
}

.services-list ul {
  margin: 0 auto;
  max-width: 940px;
  min-height: 228px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 1020px) {
  .services-list ul {
    max-width: 687px;
    min-height: 418px;
  }
}

.services-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 32%;
  height: 104px;
  color: #000000;
  overflow: hidden;
}
@media (max-width: 1020px) {
  .services-list li {
    width: 300px;
    height: 129px;
    padding-right: 35px;
  }
}
@media (max-width: 768px) {
  .services-list li {
    padding-right: 0px;
    margin: auto;
  }
}

.logo {
  width: 60px;
  height: 60px;
}

.item1 {
  background: url(./assets/img/services-item-1.png);
}

.item2 {
  background: url(./assets/img/services-item-2.png);
}

.item3 {
  background: url(./assets/img/services-item-3.png);
}

.item4 {
  background: url(./assets/img/services-item-4.png);
}

.item5 {
  background: url(./assets/img/services-item-5.png);
}

.item6 {
  background: url(./assets/img/services-item-6.png);
}

.footer {
  background: #2D303A;
  padding: 29px 0px 30px 0px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-wrapper {
    justify-content: center;
  }
}

.copyright {
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666D89;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .copyright {
    display: none;
  }
}

.social {
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .social {
    padding-right: 0;
  }
}

.social li {
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #666D89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

.facebook {
  width: 8px;
  height: 14px;
  background: url(./assets/img/ico-facebook--nocircle.png) no-repeat;
}

.google {
  width: 14px;
  height: 14px;
  background: url(./assets/img/ico-google-plus--nocircle.png) no-repeat;
}

.twitter {
  width: 14px;
  height: 12px;
  background: url(./assets/img/ico-twitter--nocircle.png) no-repeat;
}

.linkedin {
  width: 14px;
  height: 14px;
  background: url(./assets/img/ico-linkedin--nocircle.png) no-repeat;
}

.social li:hover {
  background-color: #b5bdd8;
  cursor: pointer;
  border: 2px solid;
  border-color: #666d89;
}

/*# sourceMappingURL=style.css.map */
