$color-primary: #2D303A;
$color-primary-shadow: #47474e;
$color-additional: #F06C64;
$color-text: #767E9E;
$color-heading: #666D89;
$color-wite: #ffffff;
$color-services: #f2f2f2;
$color-hamburger: #173A56;


$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px;
$finish-width: 320px;
