.header {
  background: $color-primary;
  padding: 29px 0px 30px 0px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-navigation {
    @include media-tablet {
      display: none;
    }
  }
  @include media-tablet {
    padding: 21px 0px 20px 0px;
  }
}

.wrapper-boder {
  background: $color-primary-shadow;
  height: 6px;
}

.navigation {
  color: $color-wite;
  text-align: right;
  letter-spacing: -0.035em;
  margin-top: 12px;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
  &-link {
    margin-left: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    &-colored {
      color: $color-additional;
      text-decoration: underline;
    }
  }
}

ul li:first-child {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-wite;
  transition: all 0.3s;
}

.logotype {
  display: flex;
  align-items: center;
  padding-left: 40px;
  @include media-tablet {
    transition: 1s;
    padding-left: 20px;
  }
}
.nav {
  background: #2d303a;
}
.menu-box {
  display: none;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    list-style: none;
    padding-left: 20px;
    opacity: 0;
    height: 0px;
    transition: 0.5s;
  }
}

a:hover {
  color: #f06c64;
  text-decoration: underline;
}

span {
  color: $color-additional;
}
