.wrapper {
  margin: auto;
  max-width: $content-width;
}

@media screen and (max-width: 1020px) {
  .wrapper {
    margin: auto;
    max-width: $tablet-width;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: auto;
    max-width: $mobile-width;
  }
}
